.wrapper {
  background-color: rgba(17, 16, 16, 0.932);
  min-height: 100vh;
}

.container {
  max-width: 80%;
  max-height: 80%;
  /* background: rgba(0, 225, 255, 0.726); */
  text-align: center;
}
.header {
  padding-top: 40px;
  color: wheat;
}
.navBar {
  border: 2px solid red;
  padding: 2px;
  position: sticky;
  top: 0;
}
.form {
  min-height: 30vh;
  align-content: center;

  border: 2px solid red;
  border-radius: 10px;
}

.table {
  --bs-table-bg: transparent;
}

.alert {
  background-color: rgba(127, 246, 255, 0.813);
}
.alert {
  font-size: 20px;
  font: bolder;
}

h3 {
  color: wheat;
}
