.wrapper {
  background-color: rgba(128, 0, 21, 0.932);
  min-height: 100vh;
}

.container {
  max-width: 80%;
  max-height: 80%;
  /* background: rgba(0, 225, 255, 0.726); */
  text-align: center;
}
.header {
  padding-top: 40px;
  color: wheat;
}
.form {
  border: 2px solid red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.table {
  --bs-table-bg: transparent;
}
